@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@600;700;800;900;1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400,500&family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
  --background-color: black; /* #111622 */
  --text-color: white;
  
  --font-1: 'DM Sans', sans-serif;
  --font-2: 'Lexend', sans-serif;
  --font-3: 'Roboto', sans-serif;

  --std-border-size: 4px; 
  
  --top-margin: 10px;
  --nav-width: 230px;
  --nav-left-padding: 20px;

  --tab-width: calc(100vw);
  --tab-height: calc(100vh - calc(2*var(--top-margin)));
  /* --tile-width: 500px; */


  --dark-color: hsl(var(--hue), 100%, 9%);
  --light-color: hsl(var(--hue), 95%, 98%);
  --base: hsl(var(--hue), 95%, 50%);
  --complimentary1: hsl(var(--hue-complimentary1), 95%, 50%);
  --complimentary2: hsl(var(--hue-complimentary2), 95%, 50%);

  --font-family: "Poppins", system-ui;

  --bg-gradient: linear-gradient(
    to bottom,
    hsl(var(--hue), 95%, 99%),
    hsl(var(--hue), 95%, 84%)
  );
}


.with-title {
    position: relative;
}

.with-title::before {
    content: attr(data-title);
    background-color: rgba(0, 0, 0, .4);
    backdrop-filter: blur(5px);
    color: white;
    font-family: var(--font-1);
    position: absolute;
    padding: 2px 6px 2px 6px;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    opacity: 0;
    border: 1px solid #000000;
    z-index: 99999;
    visibility: hidden;
    transition: opacity 0.2s ease;
}

.with-title:hover::before {
    opacity: 1;
    visibility: visible;
}




html {
  height: 100%;
  width: 100%;
  background-color: var(--background-color);
  cursor: context-menu;
  overflow-y: hidden;
  /* overflow-x: hidden; */
  scroll-behavior: smooth;
  transition: 1s;
}

img {
  position: relative;
  object-fit: cover;
  top: 0px;
  width: 100%;
}

.tag {
  position: relative;
  display: inline-block;
  font-family: var(--font-1);
  color: var(--text-color);
  width: max-content;
  padding: 2px 6px 2px 6px;
  margin: 5px 0 0 0;
  left: 10px;
  /* border: 1px solid white; */
  border-radius: 4px;
  overflow-wrap: break-word;
}
.red.tag {
  background-color: #a84300;
}
.green.tag {
  background-color: green;
}
.blue.tag {
  background-color: #3179ff;
}
.yellow.tag{
  background-color: #dec11b;
}
.grey.tag{
  background-color: #383838;
}

.title {
  font-family: var(--font-3);
  font-weight: 700;
  margin: 10px 10px 0px 10px; 
  /* margin-bottom: 0px; */
  position: relative;
  display: block;
  /* padding-left: 10px; */
  padding-bottom: 10px;
}

.tab-div {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  max-width: var(--tab-width);
  height: var(--tab-height);
  /* top: var(--top-margin); */
  padding-top: var(--top-margin);
  padding-bottom: var(--top-margin);
  padding-left: calc(var(--nav-width) + var(--nav-left-padding));
  /* background-color: red; */
  overflow-x: scroll;
  padding-right: 10px;
  outline: none;
}

.tab-div:active {
  cursor: -webkit-grabbing;
}

.tile {
  background-color: #222222; /*#1b2631*/
  top: 0px;
  /* height: fit-content;
  max-height: var(--tab-height);
  max-width: var(--tile-width); */
  overflow-y: scroll;
  color: var(--text-color);

  position: relative;
  display: inline-block;
  align-items: center;
  justify-content: center;
  /* max-height: var(--tab-height); */
  height: fit-content;
  /* max-width: var(--tile-width); */
  opacity: 0.8;
  transition-duration: 0.2s;
  border-radius: 4px;
  overflow-x: hidden;
}

.tile:hover {
  opacity: 1;
}

.very-tall.tile {
  height: calc((5/6) * var(--tab-height));
}
.tall.tile {
  max-height: var(--tab-height);
}
.med-tall.tile {
  max-height: calc(var(--tab-height)*(2/3));
}
.short.tile {
  max-height: calc(var(--tab-height)/2);
}
.very-short.tile {
  max-height: calc(var(--tab-height)/3);
}

.very-wide.tile {
  width: calc(var(--tab-width)/2);
}
.wide.tile {
  width: calc(var(--tab-width)/2);
}
.med-wide.tile {
  width: calc(var(--tab-width)/3);
}
.narrow.tile {
  width: calc(var(--tab-width)/4);
}
.very-narrow.tile {
  width: 50px;
}


.tall.img {
  height: calc(var(--tab-height)/2);
}
.med-tall.img {
  height: calc(var(--tab-height)/3);
}
.short.img {
  height: calc(var(--tab-height)/4);
}

.very-tall.clip {
  height: var(--tab-height);
}
.tall.clip {
  height: calc(var(--tab-height)/2);
}
.med-tall.clip {
  height: calc(var(--tab-height)/3);
}
.short.clip {
  height: calc(var(--tab-height)/4);
}
.very-short.clip {
  height: calc(var(--tab-height)/6);
}

.clip {
  width: 100%;
}

.img {
  position: relative;
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: auto;
  opacity: 0.8;
  transition: 0.2s;
  border-radius: 4px;
}
.img:hover {
  opacity: 1;
}

a {
  /* margin: 0 0 0 5px; */
  padding: 10px 0 10px 15px;
  font-family: var(--font-3);
  color: var(--text-color);
  white-space: nowrap;
}

.description {
  padding: 0px 15px 10px 15px;
  margin: 0px;
  font-family: var(--font-3);
  font-weight: 300;
  /* line-height: 1.4; */
  color: #d9d9d9;
}

ul, ol {
  padding: 0px 15px 10px 50px;
  margin: 0px;
  font-family: var(--font-3);
  font-weight: 300;
  /* line-height: 1.4; */
  color: #d9d9d9;
}

#logo-text {
  position: fixed;
  background-color: white;
  color: var(--background-color);
  top: -10px;
  font-family: var(--font-1);
  font-weight: 1000;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 200px;
  text-align: center;
  transition: background-color 0.2s, color 0.2s;
  border-radius: 4px;
}

#nav-div {
  /* background-color: black; */
  position: fixed;
  top: 0px;
  width: var(--nav-width);
  left: 0px;
  padding-left: var(--nav-left-padding);
  height: 100vh;
  opacity: 1;
  transition: 0.5s;
  /* width: 50px; */
  /* background-color: rgba(255, 255, 255, .15);  
  backdrop-filter: blur(5px); */
}

#nav-div.scrolled:hover {
  background-color: rgba(0, 0, 0, 1);
}

#nav-div.scrolled {
  /* background-color: rgba(255, 255, 255, .2); */
  background-color: rgba(0, 0, 0, .6);
  backdrop-filter: blur(5px);
  /* opacity: 0.6; */
  /* width: 15px; */
  content: none;
}

@keyframes nav-enter {
  0% {
    left: -150px;
    /* opacity: 0.0; */
  }
  100% {
    left: 0px;
    /* opacity: 1.0; */
  }
}

.nav-tab {
  position: relative;
  font-family: var(--font-1);
  top: calc(50vh - 120px);
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 0px;
/*   font-family: 'Roboto', sans-serif; */
  font-weight: 1000;
  /* color: #474747; */
  color: #a8a8a8;
  transition: font-size 0.2s, color 0.3s, margin-left 0.2s;
  /* animation: nav-enter 0.8s ease-out 1 forwards; */
}

.nav-tab:hover {
  color: white;
  margin-left: 20px;
}

.nav-tab.selected {
  font-size: 38px;
  color: white;
  margin-left: 20px;
}
.nav-tab.selected.scrolled {
  font-size: 38px;
  color: white;
  margin-left: 20px;
}

#nav-div.scrolled {
  /* left: -200px;
  padding-left: 200px; */
}

::-webkit-scrollbar {
    display: none;
}
